---
title: Kontakt
permalink: /kontakt/
top_url: /kontakt/
main_menu: true
weight: 7
layout:
---

<!DOCTYPE html>
<html>
  {% include head-kontakt-map.html %}
  <script src="{{ "/js/eyecandy.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/TweenMax.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/moment.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/moment-with-locales.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/moment-recur.js" | prepend: site.baseurl }}"></script>

  <body onLoad="mapinit();">
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>
		<div class="box" id="treffen">
			<h3>Treffen</h3>
			<p>Wir freuen uns, wenn Du Kontakt mit Deiner lokalen Community aufnimmst, sei es persönlich bei einem Treffen oder über das Internet.</p>
			<p>Wenn Du neu bei Freifunk bist, bereits einen Router einrichten möchtest oder einfach nur mehr über das Projekt erfahren willst, komm' einfach zu einem persönlichen Gespräch vorbei. Wir freuen uns auf Deinen Besuch!</p>
		</div>
		<div class="box">
			<h3>Kontaktdaten</h3>
			<p>Wenn es Dir nicht möglich ist, Deine lokale Community zu besuchen, dann vermitteln wir gerne einen Kontakt. Hier kannst Du uns erreichen.</p>
			<ul>
				<li><a href="mailto:{{site.email}}">Email ({{site.email}})</a></li>
				<li><a href="https://webirc.hackint.org/#irc://irc.hackint.org/#FFBW">Chat</a> (oder mit IRC-Client <a href="irc://irc.hackint.eu/FFBW">irc://irc.hackint.eu/FFBW</a>)</li>


</ul>
		</div>
    </section>


	

    </section>

    {% include footer.html %}

  </body>
</html>
