---
title: News
layout: main
main_menu: true
weight: 6 
permalink: /news/
top_url: /news/
---

<!DOCTYPE html>
<html>
  {% include head-news.html %}

  <body>
    {% include header.html %}
    <section id="main" class="container">
		<header>
			<h2 class="post-title">{{ page.title }}</h2>
		</header>
		

		</div>
    </section>

    {% include footer.html %}

   <script>
	   moment.locale('de');
	   interval = moment( "2016-02-04" ).recur().every(2).weeks();
	   now = moment(new Date());
	   interval.fromDate(new Date());
	   nextDate = moment(new Date(interval.next(1)));
	
	   if (nextDate.isSame(now, 'day')) {
		   nextDateStr = "heute";
	   } else {
		
		   nextDateStr = "";
		   if (nextDate.diff(moment(), 'day') < 7) {
			   nextDateStr += "kommenden ";
			}
			
		   nextDateStr += nextDate.format("dddd") + ", den " + nextDate.format("DD. MMMM");
	   }
	   $('#nextMeetingTime').text(nextDateStr);
  </script>

  </body>

</html>
